@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@import "tailwindcss";

/** {
    scroll-behavior: smooth
}*/

@theme {
    --font-prata: "Prata", "sans-serif";
    --breakpoint-3xl: 105rem;
    --breakpoint-4xl: 121rem;
}
