@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Prata&display=swap');

@import "tailwindcss";

@theme {
    --font-prata: "Prata", "sans-serif";
    --font-philosopher: "Philosopher", "sans-serif";
    --breakpoint-3xl: 105rem;
    --breakpoint-4xl: 120rem;                /*1920 px*/
}

.animation-hover:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    height: 2px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    @apply w-0 bg-[#f0f0f0] left-1/2 block -bottom-1 absolute;
}

.animation-active:after {
    @apply left-0 w-full;
}

.animation-hover:hover:after {
    @apply left-0 w-full;
}

/*
.hint_window {
    transform: translate(40px, -50%);
    padding: 14px;
    background: #ffffff;
    width: 246px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px rgba(95, 105, 131, 0.1), 0px 4px 24px 0px rgba(95, 105, 131, 0.04);
    gap: 8px;

    .hint_window__title {
        font-weight: 500;
        font-size: 20px;
        color: #050d33;
        margin-bottom: 8px;
    }

    .hint_window__text {
        font-weight: 400;
        font-size: 14px;
        color: #7b7d85;
    }
}*/
