@import "tailwindcss";

@font-face {
    font-family: 'Prata';
    src: url('./assets/fonts/Prata-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('./assets/fonts/Philosopher-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@theme {
    --font-prata: "Prata", "sans-serif";
    --font-philosopher: "Philosopher", "sans-serif";
    --color-dark: #242424;
    --color-light: #f0f0f0;
    --breakpoint-3xl: 120rem;
    --breakpoint-4xl: 150rem;
}

.animation-hover:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    height: 2px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    @apply w-0 bg-[#f0f0f0] left-1/2 block -bottom-1 absolute;
}

.animation-active:after {
    @apply left-0 w-full;
}

.animation-hover:hover:after {
    @apply left-0 w-full;
}
